.container {
    background-color: #d63384;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.work, .opportunity , .remuneration {
    background-color: rgb(32, 27, 27);
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
    margin: 30px;
}

.work img, .opportunity img, .remuneration img {
    width: 60px;
    height: 60px;
}

.work h2, .opportunity h2, .remuneration h2 {
    color: white;
}